<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!local">
        <property value="/usr/app/logs/inssa.log" name="LOG_FILE"/>
    </springProfile>
    <springProfile name="local">
        <property value="./logs/inssa.log" name="LOG_FILE"/>
    </springProfile>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>10</maxHistory>
            <fileNamePattern>${LOG_FILE}.%d{yyyyMMdd}-%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] [%-5level] [%logger{5}] - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) - [%thread{10}, %X{traceId:-}, %X{spanId:-}] %cyan(%logger{20}): %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="dailyRollingFileAppender"/>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
