<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inssa.server.api.board.mapper.boardMapper">

    <sql id = "boardColumns">
        BOARD_NO,
        BOARD_TYPE_NO,
        CATEGORY_NO,
        PARENT_BOARD_NO,
        TITLE,
        CONTENT,
        CREATED_DATE,
        MODIFIED_DATE,
        DELETE_AT,
        VIEW_COUNT,
        LIKE_COUNT,
        NOTICE_AT,
        USER_ID
    </sql>

    <sql id = "sort">
        <if test="sort == null">
            ORDER BY BOARD_NO DESC
        </if>

        <if test="sort == boardNo">
            ORDER BY BOARD_NO DESC
        </if>

        <if test="sort == viewCount">
            ORDER BY VIEW_COUNT DESC
        </if>

        <if test="sort == likeCount">
            ORDER BY LIKE_COUNT DESC
        </if>

        <!--  댓글 JOIN 후 사용
        <if test="sort == replyCount">
            ORDER BY REPLY_COUNT DESC
        </if> -->
    </sql>

    <!-- 게시글 목록 조회 -->
    <select id="selectBoardList" resultType="com.inssa.server.api.board.dto.BoardDto">
        SELECT *
        FROM BOARD
        WHERE BOARD_TYPE_NO = #{boardTypeNo}
        AND DELETE_AT = FALSE
        ORDER BY MODIFIED_DATE DESC
    </select>

    <!-- 게시글 상세조회 -->
    <select id="selectBoard" resultType="com.inssa.server.api.board.dto.BoardDto" >
        SELECT *
        FROM BOARD
        WHERE BOARD_NO = #{boardNo}
        AND BOARD_TYPE_NO = #{boardTypeNo}
        AND DELETE_AT = FALSE
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.inssa.server.api.board.dto.BoardDto">
        UPDATE BOARD
        SET
        MODIFIED_DATE = NOW(),
        TITLE = #{title},
        CONTENT = #{content},
        BOARD_IMG = #{boardImg}
        WHERE BOARD_NO = #{boardNo}
        AND BOARD_TYPE_NO = #{boardTypeNo}
        AND USER_ID = #{userId}
    </update>

    <!-- 게시글 삭제 : delete 대신 boardStatus 를 'Y'로 변경하여 비활성화 시킨다 -->
    <update id="deleteBoard" parameterType="int">
        UPDATE BOARD
        SET
        MODIFIED_DATE = NOW(),
        DELETE_AT = TRUE
        WHERE BOARD_NO = #{boardNo}
        AND BOARD_TYPE_NO = #{boardTypeNo}
        AND USER_ID = #{userId}
    </update>

    <!-- 게시글 목록 조회 (검색)-->
    <select id="searchBoardList" resultType="com.inssa.server.api.board.dto.BoardDto" >
        SELECT *
        FROM BOARD
        WHERE DELETE_AT = FALSE
        AND BOARD_TYPE_NO = #{boardTypeNo}
        <choose>
            <when test="filter != null and type.equals('searchWord')">
                AND searchWord LIKE CONCAT('%', #{title}, '%')
            </when>

            <when test="filter != null and type.equals('searchWord')">
                AND searchWord LIKE CONCAT('%', #{content}, '%')
            </when>

            <when test="filter != null and type.equals('category')">
                AND CATEGORY_NO = #{categoryNo}
            </when>

            <when test="filter != null and type.equals('userNo')">
                AND USER_ID = #{userId}
            </when>

        </choose>
    </select>

    <!-- 게시글 목록 조회 (검색+페이징) -->
    <select id="searchListCount" resultType="com.inssa.server.api.board.dto.BoardDto" >
        SELECT CNT, (SELECT BOARD_TYPE_NO FROM BOARD ) BOARD_TYPE_NO
        FROM
        (
        SELECT COUNT(*) CNT
        FROM BOARD
        WHERE BOARD_TYPE_NO = #{boardTypeNo}
        AND DELETE_AT = FALSE
        )
        <choose>
            <when test="filter != null and type.equals('searchWord')">
                AND searchWord LIKE CONCAT('%', #{title}, '%')
            </when>

            <when test="filter != null and type.equals('searchWord')">
                AND searchWord LIKE CONCAT('%', #{content}, '%')
            </when>

            <when test="filter != null and type.equals('category')">
                AND CATEGORY_NO = #{categoryNo}
            </when>

            <when test="filter != null and type.equals('userId')">
                AND USER_ID LIKE #{userId}
            </when>

        </choose>
    </select>

    <!-- 게시판 조회수 증가 -->
    <update id="updateView" parameterType="int">
        UPDATE BOARD
        SET
        VIEW_COUNT = VIEW_COUNT + 1
        WHERE BOARD_NO = #{boardNo}
        AND BOARD_TYPE_NO = #{boardTypeNo}
    </update>

    <!-- 게시판 좋아요 여부 확인 -->
    <select id="likeCheck" resultType="com.inssa.server.api.board.dto.LikeDto">
        SELECT BOARD_NO, USER_ID
        FROM LIKE
        WHERE BOARD_NO = #{boardNo}
        AND BOARD_TYPE_NO = #{boardTypeNo}
        AND USER_ID = #{userId}
    </select>

    <!-- 게시판 좋아요  -->
    <update id="updateLike" parameterType="com.inssa.server.api.board.dto.BoardDto">
        UPDATE BOARD
        SET
        LIKE_COUNT = #{likeCount}
        WHERE BOARD_NO = #{boardNo}
        AND BOARD_TYPE_NO = #{boardTypeNo}
        AND USER_ID = #{userId}
    </update>

    <!-- 게시판 찜  -->
    <update id="updateZzim" parameterType="com.inssa.server.api.board.dto.BoardDto">
        UPDATE BOARD
        SET
        BOARD_ZZIM = #{boardZzim}
        WHERE BOARD_NO = #{boardNo}
        AND BOARD_TYPE_NO = #{boardTypeNo}
        AND USER_ID = #{userId}
    </update>

    <!--<insert id="insertImg" parameterType="list">
        INSERT INTO FILE
            (
            FILE_NO,
            FILE_PATH,
            FILE_TYPE,
            CHANGE_NAME,
            ORIGIN_NAME,
            CREATED_DATE,
            BOARD_NO)
        VALUES(
        <foreach collection="list" item="at" separator="UNION ALL">
            FILE_NO, &lt;!&ndash; 인덱스 번호로 해야할 것 같은디 &ndash;&gt;
            #{filePath},
            #{storeName},
            #{uploadName},
            now(),
            #{boardNo} )
        </foreach>
    </insert>-->


</mapper>