<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.inssa.server.api.review.build.mapper.BuildMapper">


    <!-- 시공후기 목록 조회-->
    <select id="selectList" resultType="com.inssa.server.api.review.build.dto.BuildDto">
        SELECT * FROM build_review
        WHERE STATUS = 'Y'
    </select>

    <!-- 시공후기 상세조회 -->
    <select id="selectDetail" resultType="com.inssa.server.api.review.build.dto.BuildDto">
        SELECT * FROM build_review
        WHERE BUILD_NO = #{buildNo}
    </select>

    <!-- 시공후기 작성 -->
    <insert id="insertBuild">
        INSERT INTO build_review
            (
            BUILD_NO,
            BUILD_TYPE,
            CATEGORY_NO,
            TITLE,
            CONTENT,
            CREATED_DATE,
            MODIFIED_DATE,
            STATUS,
            VIEW_COUNT,
            USER_NO )
        VALUES
            (
            null,
            #{buildType},
            #{categoryNo},
            #{title},
            #{content},
            now(), <!--작성일-->
            default, <!--수정일-->
            default, <!--글상태-->
            default, <!--조회수-->
            #{userNo} );

    </insert>


    <!-- 시공후기 수정 -->
    <update id="updateBuild">
        UPDATE build_review
        SET
        TITLE = #{title},
        CONTENT = #{content},
        MODIFIED_DATE = now()
        WHERE BUILD_NO = #{buildNo}
    </update>

    <!-- 시공후기 삭제 -->
    <update id="deleteBuild">
        UPDATE build_review
        SET STATUS = 'UNVISIBLE'
        WHERE BUILD_NO = #{buildNo}
    </update>

</mapper>