<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inssa.server.api.user.mapper.UserMapper">
    <select id="findByUserId" resultType="com.inssa.server.api.user.dto.UserDto">
        SELECT USER_ID
             , PASSWORD
          FROM USER
         WHERE USER_ID = #{userId}
    </select>

    <insert id="register" parameterType="com.inssa.server.api.user.dto.UserRegisterRequestDto">
        INSERT INTO USER (USER_ID, EMAIL, PASSWORD, NICKNAME, PHONE, STATUS, IMG, REGDATE, SOCIAL, TYPE)
        VALUES (#{userId}, #{email}, #{password}, #{nickname}, #{phone}, 'Y', #{img}, NOW(), 'I', #{type})
    </insert>

</mapper>